# Binary executables
bin/
*.exe
*.msi

# Temporary & Log files
*.log
tunnel.log
tunnel_err.log

# OS & Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
scratch/
__pycache__/
*.pyc


node_modules/
package-lock.json

# Storage logs and screenshots
storage/logs/*.png
storage/logs/*.oga
storage/logs/*.log
storage/logs/

# Sensitive Telegram Credentials and State
telegram_token.php
telegram_state.json
telegram_accounts.json
.env
.env.*

